.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 15px);
  align-items: center;
  margin-top: 15px;
}

.login-form {
  .buttons {
    .register-redirection-button {
      margin-left: 10px;
    }
  }
}

.register-form {
  .language-select {
    margin-top: 16px;
    margin-bottom: 25px;
  }
}
