@import '../../style/variables.scss';

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.login-form {
  justify-content: center;
  height: calc(100% - 200px);

  .loading-zone {
    margin-top: 35px;
    transition: transform 0.2s;
  }

  .loading-zone[data-loading='true'] {
    opacity: 1;
  }

  .loading-zone[data-loading='false'] {
    opacity: 0;
  }

  .buttons {
    .register-redirection-button {
      margin-left: 10px;
    }
  }

  .reset-password-request-button {
    margin-top: 5px;
  }
}

.register-form {
  height: calc(100% - 15px);
  .language-select {
    margin-top: 16px;
    margin-bottom: 25px;
  }

  div.rich-field {
    display: flex;
    align-items: center;
    padding-left: 40px;

    .username-field {
      input {
        text-transform: lowercase;
      }
    }

    .MuiFormControl-root.MuiTextField-root {
      margin-right: 15px;
    }

    .username-tooltip {
      color: $help-icon-color;
      outline: none;
      margin-top: 16px;
    }
  }
}

.tippy-popper {
  .tooltip-text {
    text-align: left;
    cursor: default;
  }
}
