[data-component='vibe-header'] {
  .vibe-title {
    cursor: default;
    user-select: none;
  }

  [data-component='search-bar'] {
    margin-right: auto;
    margin-left: auto;
  }

  .header-account-icon {
    color: white;
    font-size: 30px;
  }
}
