[data-component='vibe-article'] {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .audio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    [data-component='audio-card'] {
      height: 150px;
      margin-bottom: 15px;
    }
  }
}
