[data-component='audio-card'] {
  position: relative;
  height: 150px;
  margin-bottom: 30px;

  .audio-card {
    display: flex;

    .content {
      width: 100%;

      .card-header {
        display: flex;

        .information-zone {
          width: 80%;
          padding-top: 8px;
        }

        .audio-menu {
          width: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }
      }

      #upload-updated-audio {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: default;
      }
    }

    .media {
      width: 145px;
    }

    .media-button-zone {
      height: 48px;
      display: flex;
      align-items: center;

      .audio-slider {
        width: 50%;
        padding-bottom: 3px;
        padding-left: 15px;

        .slider {
          height: 5px;
          padding: unset;

          .MuiSlider-rail,
          .MuiSlider-track {
            height: 3px;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .audio-name {
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .audio-upload-dropzone {
    position: absolute;
    bottom: -18px;
    right: -16px;
    cursor: pointer;

    > div {
      outline: none;
    }
    .add-audio-button {
      width: 46px;
      height: 46px;
    }
  }
}
