[data-component='audio-card'] {
  position: relative;
  height: 150px;
  margin-bottom: 20px;
  .audio-card {
    display: flex;
    width: 360px;

    .content {
      width: 100%;
    }

    .media {
      width: 145px;
    }

    .media-button-zone {
      height: 48px;
    }
  }

  .audio-name {
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .audio-upload-dropzone {
    position: absolute;
    bottom: -7px;
    right: -16px;
    cursor: pointer;

    > div {
      outline: none;
    }
    .add-audio-button {
      width: 46px;
      height: 46px;
    }
  }
}
