[data-component='article-list'] {
  #create-article-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: transform 0.2s;

    .create-button {
      .add-icon {
        margin-right: 5px;
      }
    }
  }

  #create-article-button.show {
    transform: scale(1);
  }

  #create-article-button.hide {
    transform: scale(0);
  }

  .vibe-dialog {
    > div {
      > div {
        width: 350px;
      }
    }
  }
}
